<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.tsc.py.filesearch</string>
	<key>category</key>
	<string>Tools</string>
	<key>connections</key>
	<dict>
		<key>75C88C85-11C0-48EF-AF13-1CB7CCDF04C2</key>
		<array/>
		<key>BA72E854-087D-41FA-AB65-08A6B953B33C</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>6D1C781B-2269-4A33-86AC-B937E58C26DD</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>75C88C85-11C0-48EF-AF13-1CB7CCDF04C2</string>
				<key>modifiers</key>
				<integer>1048576</integer>
				<key>modifiersubtext</key>
				<string>在文件夹中显示</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>C77499B0-5340-4835-84A4-7C20F2EB001C</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>9CD32B32-786F-4AD2-87CF-33AA3C5714A5</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>034B5527-FE82-4BAE-8E90-00C1B0A2D6D2</string>
				<key>modifiers</key>
				<integer>1048576</integer>
				<key>modifiersubtext</key>
				<string>在文件夹中显示</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>E484B573-278C-4953-AE55-8405C7B5D8CD</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>260BCCF6-2C5E-4B60-8BBD-7400C4A37058</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>6B3DEA2D-96B0-4370-B2DF-CF0DB9D30F54</string>
				<key>modifiers</key>
				<integer>1048576</integer>
				<key>modifiersubtext</key>
				<string>在文件夹中显示</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>tsc</string>
	<key>description</key>
	<string>文件(夹)名和文件内容的快速检索</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>File Search</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>openwith</key>
				<string></string>
				<key>sourcefile</key>
				<string></string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openfile</string>
			<key>uid</key>
			<string>260BCCF6-2C5E-4B60-8BBD-7400C4A37058</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<true/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>2</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<false/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>en</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>2</integer>
				<key>queuemode</key>
				<integer>2</integer>
				<key>runningsubtext</key>
				<string>等待搜索中…</string>
				<key>script</key>
				<string>python2 'search file.py' '0:7tTzXHqr' '~/Nutstore Files/学习/论文/EndNote/papers.Data/PDF' 'pdf' ''

# 参数的例子 '缓存保留秒数:本脚本标识符' '检索路径1:检索路径2' '检索后缀名1:检索后缀名2' '排除文件夹1:排除文件夹2'

# 本脚本标识符 一般每个 Script Filter 唯一, 如果想再加一个立即刷新缓存的可以不唯一. 这确定了缓存文件名

# 初始化速度比fd慢10几倍, 但是检索的时候快, 还可以使用拼音检索, 还可以缓存. 不区分大小写</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>⏎ 进入文件, ⌘+⏎ 进入文件夹, ⌘+C 复制文件路径.</string>
				<key>title</key>
				<string>搜索endnote论文</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>E484B573-278C-4953-AE55-8405C7B5D8CD</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>path</key>
				<string></string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.revealfile</string>
			<key>uid</key>
			<string>6B3DEA2D-96B0-4370-B2DF-CF0DB9D30F54</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>openwith</key>
				<string></string>
				<key>sourcefile</key>
				<string></string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openfile</string>
			<key>uid</key>
			<string>6D1C781B-2269-4A33-86AC-B937E58C26DD</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<false/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>f</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>2</integer>
				<key>queuemode</key>
				<integer>2</integer>
				<key>runningsubtext</key>
				<string>等待搜索中…</string>
				<key>script</key>
				<string>python2 'fd.py' '~/Nutstore Files:~/Downloads:~/code:~/git:~/data:~/Desktop:~/Documents:~/Library/Mobile Documents:/Volumes/Extended-HD' {query}

# 修改倒数第二个参数的例子 '检索路径1:检索路径2'

# 文件(夹)名快速检索, 使用时建议不超过5个关键词</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>输入 - 可以设定参数. ⏎ 进入文件, ⌘+⏎ 进入文件夹, ⌘+C 复制文件路径.</string>
				<key>title</key>
				<string>搜索文件名</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>BA72E854-087D-41FA-AB65-08A6B953B33C</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>path</key>
				<string></string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.revealfile</string>
			<key>uid</key>
			<string>75C88C85-11C0-48EF-AF13-1CB7CCDF04C2</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>openwith</key>
				<string></string>
				<key>sourcefile</key>
				<string></string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openfile</string>
			<key>uid</key>
			<string>9CD32B32-786F-4AD2-87CF-33AA3C5714A5</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<false/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>t</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>2</integer>
				<key>queuemode</key>
				<integer>2</integer>
				<key>runningsubtext</key>
				<string>等待搜索中…</string>
				<key>script</key>
				<string>python2 'search text.py' '~/Nutstore Files:~/code:~/git' {query}


# 修改倒数第二个参数的例子 '检索路径1:检索路径2'

# 用于检索文件中哪一行包含这多个关键词</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>输入 - 可以设定参数. ⏎ 进入文件, ⌘+⏎ 进入文件夹, ⌘+C 复制文件路径.</string>
				<key>title</key>
				<string>搜索文件内容</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>C77499B0-5340-4835-84A4-7C20F2EB001C</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>path</key>
				<string></string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.revealfile</string>
			<key>uid</key>
			<string>034B5527-FE82-4BAE-8E90-00C1B0A2D6D2</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>双击 Script Filter, 可以在其中看到检索路径参数修改的提示, 修改路径保存后用于自己的路径进行检索. 还可以复制 Script Filter 及后面操作, 然后修改触发关键词和检索路径. ~表示用户文件夹.

三种模式: 
1. 慢加载快检索 + 拼音检索 + 缓存 文件名.
2. 较快检索 文件(夹)名, 可以全路径或包不包含文件夹搜索. 
3. 检索文件夹下所有文件内容, 多关键词并集检索, 可黑白名单过滤文件.

⌘+⏎ : 在文件夹中显示; 
⌘+L : 显示备注文本; 
⏎ : 打开文件; 
shift/⌘+Y : 预览文件</string>
	<key>uidata</key>
	<dict>
		<key>034B5527-FE82-4BAE-8E90-00C1B0A2D6D2</key>
		<dict>
			<key>xpos</key>
			<integer>535</integer>
			<key>ypos</key>
			<integer>715</integer>
		</dict>
		<key>260BCCF6-2C5E-4B60-8BBD-7400C4A37058</key>
		<dict>
			<key>xpos</key>
			<integer>520</integer>
			<key>ypos</key>
			<integer>10</integer>
		</dict>
		<key>6B3DEA2D-96B0-4370-B2DF-CF0DB9D30F54</key>
		<dict>
			<key>xpos</key>
			<integer>525</integer>
			<key>ypos</key>
			<integer>140</integer>
		</dict>
		<key>6D1C781B-2269-4A33-86AC-B937E58C26DD</key>
		<dict>
			<key>xpos</key>
			<integer>530</integer>
			<key>ypos</key>
			<integer>315</integer>
		</dict>
		<key>75C88C85-11C0-48EF-AF13-1CB7CCDF04C2</key>
		<dict>
			<key>xpos</key>
			<integer>535</integer>
			<key>ypos</key>
			<integer>445</integer>
		</dict>
		<key>9CD32B32-786F-4AD2-87CF-33AA3C5714A5</key>
		<dict>
			<key>xpos</key>
			<integer>520</integer>
			<key>ypos</key>
			<integer>570</integer>
		</dict>
		<key>BA72E854-087D-41FA-AB65-08A6B953B33C</key>
		<dict>
			<key>xpos</key>
			<integer>205</integer>
			<key>ypos</key>
			<integer>355</integer>
		</dict>
		<key>C77499B0-5340-4835-84A4-7C20F2EB001C</key>
		<dict>
			<key>xpos</key>
			<integer>225</integer>
			<key>ypos</key>
			<integer>630</integer>
		</dict>
		<key>E484B573-278C-4953-AE55-8405C7B5D8CD</key>
		<dict>
			<key>xpos</key>
			<integer>195</integer>
			<key>ypos</key>
			<integer>50</integer>
		</dict>
	</dict>
	<key>variablesdontexport</key>
	<array/>
	<key>version</key>
	<string>1.2</string>
	<key>webaddress</key>
	<string>https://github.com/aitsc/alfred.filesearch</string>
</dict>
</plist>
